* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    

}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    background-color: black;

}
.nav{
    height: 130px;
    width: 100%;
    /*background-color: red;*/
    display: flex;
    align-items: center;
    padding: 0 50px;
    justify-content: space-between;
}
.nav_part2{
    display: flex;
    align-items:center;
    width: 50%;
    justify-content: space-between;
    /*background-color: blue;*/
}
.nav h1{
    font-size: 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}
.nav i{
    font-size: 20px;
    margin-right: 5px;
}
.nav h5{
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}
.nav img{
    height: 60px;

}
.line{
    width: 90px;
    height: 1.5px;
    background-color: red;
}
.content{
    height: calc(100% - 130px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    /*background-color: aquamarine;*/
}
.left{
    width: 36%;
    height: 100%;
    /*background-color: aliceblue;*/
    padding: 80px 50px;
}
.right{
    width: 36%;
    height: 100%;
    /*background-color: aliceblue;*/
    padding: 230px 30px;
}
.center{
    width: 24%;
    height: 100%;
    /*background-color:greenyellow;*/
    padding-top: 60px;
}
.left h1{
    font-size: 65px;
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 50px;
}
.left h1 span{
    color: red;
    font-weight: 500;
}
.left p{
    width: 75%;
    margin-bottom: 40px;
    line-height: 23px;
    font-size: 12px;
}
.left button{
    background-color: red;
    padding: 15px 30px;
    border-radius: 50px;
}
.left button i{
    margin: 2px;
}
.center-bg{
    background-color: blue;
    height: 88%;
    width: 100%;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    background-image: url(images.jpeg);
    background-size: 620px;
    background-position: 50% 50%;
    filter: blur(1px);
}
.content img{
    height: 100%;
    position: absolute;
    left: 49%;
    transform: translate(-50%,0);
}
.right_elem{
    /*background-color: red;*/
    width: 350px;
}
.element1{
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 50px;
    opacity: 0.6;
    /*background-color: blue;*/
    border-bottom: 1px solid white;
}
.element1 h1{
    font-size: 24px;
}
.element1 i{
    font-size: 22px;
}
.element2 h1{
    font-size: 24px;
    margin-bottom: 10px;
    padding-top: 10px;
}
.element2 p{
    font-size: 12px;
    width: 80%;
    opacity: 0.5;

}